body{
    font-family: ubuntu;
}

.logLI {
    padding: 20px;
}

.plusMinus {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: #1AB090;
    cursor:  pointer;
    text-align: right;
}

.deleteX {
    
    margin-right: 10px;
    font-size: 14px;
    color: #1AB090;
    cursor:  pointer;
    position: absolute;
    right: 5px;
    top: 10px;
}

.update {
    width: 100px;
    margin-right: 10px;
    font-size: 14px;
    color: #3598DA;
    cursor:  pointer;
}


.right {
    padding-right: 10px;
    font-size: 20px;
    color: rgba(26, 25, 25, 0.879);  
}


ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 5px;
    background: #f6f6f6;
    font-size: 14px;
    color: rgba(26, 25, 25, 0.879);  
    position: relative;
    border-bottom: 2px solid #025593;
    height: 46px;
}


li:nth-child(even){    
    background: #f2f2f2;
}


li span:nth-child(2){
    font-size: 14px;
    margin-top: 6px;
    color: rgba(26, 25, 25, 0.879);  
}